 @{
    ViewData["Title"] = "تواصل معنا";
}

    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <!-- Section Title -->
  
            <section class="heroo">
                <div class="heroo-text">
                    <h2>تــواصــل مـعـنـا</h2>
                    <p>
                        نرحب بتواصلكم للإجابة عن استفساراتكم وتقديم الدعم الذي تحتاجونه بكل سرور
                    </p>
                </div>
                <img src="/img//8-yvI_TTtpE-transformed.jpeg" alt="صورة المعهد" class="heroo-image"> 
            </section>
        <!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-6">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center rounded-3" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-geo-alt"></i>
                        <h3>العــنـــوان</h3>
                        <p>الباب الخلفي لجامعة طرابلس, Tripoli, Libya</p>

                    </div>
                </div><!-- End Info Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center rounded-3" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-telephone"></i>
                        <h3> اتــصــل بــنـا</h3>
                        <p>
                            092-2108855
                        </p>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center rounded-3" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-envelope"></i>
                        <h3>بـريـدنـا الالكتــرونـي</h3>
                        <p>info@ainshams.edu.ly</p>
                    </div>
                </div><!-- End Info Item -->

            </div>

            <div class="row gy-4 mt-1">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3352.24550620318!2d13.224284525510502!3d32.83875078083065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13a893b62c61409f%3A0xc93ddc2f052e5925!2z2YXYudmH2K8g2LnZitmGINi02YXYsw!5e0!3m2!1sar!2sly!4v1726597169250!5m2!1sar!2sly"
                            frameborder="0" style="border:0; width: 100%; height: 400px;border-radius:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div><!-- End Google Maps -->
           

              <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" class="php-email-form rounded-3" data-aos="fade-up" data-aos-delay="400">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control rounded-3" placeholder="ادخـل إسـمـك" required="">
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control rounded-3" name="email" placeholder=" ادخـل بـريدك الإلكـترونـي" required="">
                            </div>

                            <div class="col-md-12">
                                <input type="text" class="form-control rounded-3" name="subject" placeholder="ادخـل موضـوع الـرسـالة" required="">
                            </div>

                            <div class="col-md-12">
                                <textarea class="form-control rounded-3" name="message" rows="5" placeholder=" ادخـل رســالـتك" required=""></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                             
                              <button type="submit">إرســـال</button>
                            </div>

                        </div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>

    </section><!-- /Contact Section -->
   

